$primary-color: #000;
$secondary-color: #e4003b;
$background-color: #EDF0F2;
$small-font-size: 1.4rem;
$medium-font-size: 1.7rem;
$large-font-size: 3.6rem;
$extra-large-font-size: 6rem;
$adevale-font: 'Adevale'; //logo font and unused
$teko-font: 'Teko'; //headers fonts
$tt-lakes-font: 'TT Lakes'; //normal font
$transition-time: 0.25s;